[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Banwali-India-Pvt-Ltd
[access "refs/for/refs/*"]
	read = group user/Banwali-India-Pvt-Ltd
	push = group user/Banwali-India-Pvt-Ltd
	label-Code-Review = -2..+2 group user/Banwali-India-Pvt-Ltd
	label-Verified = -1..+1 group user/Banwali-India-Pvt-Ltd
	rebase = group user/Banwali-India-Pvt-Ltd
	removeReviewer = group user/Banwali-India-Pvt-Ltd
	submit = group user/Banwali-India-Pvt-Ltd
[access "refs/heads/*"]
	read = group user/Banwali-India-Pvt-Ltd
	create = group user/Banwali-India-Pvt-Ltd
	push = +force group user/Banwali-India-Pvt-Ltd
	pushMerge = group user/Banwali-India-Pvt-Ltd
[access "refs/tags/*"]
	push = group user/Banwali-India-Pvt-Ltd
	push = +force group user/Banwali-India-Pvt-Ltd
